.block{
  &-free,
  &-featured,
  &-steps,
  &-helps,
  &-solutions,
  &-blog,
  &-portfolio,
  &-request,
  &-catalog,
  &-testimonials,
  &-recomendation,
  &-showroom,
  &-brands{
    padding-top: 0;

    .row{
      margin-bottom: 0;
    }

    &.section {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  &-brands{
    padding-bottom: 30px;
  }

  &-free,
  &-featured{
    .col {
      @media #{$medium-and-down}{
        margin-bottom: 10px;
        margin-right: auto;
        max-width: ($small-screen-up - 2) / 2;
      }
    }
  }

  &-steps{
    padding-top: 30px;
    .col {
      @media #{$medium-and-down}{
        margin-right: auto;
        max-width: ($small-screen-up - 2) / 2;
      }
    }
  }

  &-sales{
    padding-top: 30px;
  }
}

.block-request {
  padding-bottom: 30px!important;
}