.box{
  &-free,
  &-featured,
  &-helps{
    margin: 0;
    height: 100%;

    @media #{$medium-and-down}{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .card-image{
      @extend .valign-wrapper;
      padding-left: 1rem
    }
    .card-stacked{
      padding: 1rem;
    }
    .card-content{
      @extend .valign-wrapper;
      padding: 0;
      font-size: .85rem;
    }
  }

  &-helps{
    .card-image{
      padding-left: 2rem;
      padding-right: 1rem;
    }
    .card-title{
      margin: 0!important;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-solution{
    @extend .z-depth-0;
    position: relative;

    .card-content{
      padding: 1rem;
      text-align: center;
    }

    .card-title{
      font-size: 14px;
      line-height: 18px!important;
      font-weight: bold;
    }

    &:after{
      position: absolute;
      content:"";
      bottom: 0;
      left: 50%;
      margin-left: -20px;
      width: 40px;
      height: 1px;
      background-color: $color-grey-35;
    }
  }

  &-portfolio {
    @extend .z-depth-0;
    margin: 0 5px;

    .card-content{
      padding: 1rem;
      text-align: center;
    }

    .card-image{
      @extend .z-depth-1;
      padding: .75rem;
    }

    .card-title{
      font-size: 14px;
      line-height: 18px!important;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-blog{
    @extend .z-depth-0;
    position: relative;
    overflow: hidden;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $primary-color;
    }

    .card-title{
      font-weight: bold;
      color: white;
      font-size: 1rem;
      z-index: 1;
    }

    .card-image{
      > img{
        transform: scale(1);
        transition: transform .5s ease-in-out 0s;
        opacity: .55;
      }
      &:hover{
        >img{
          transform: scale(1.1);
        }
      }
    }
  }

  &-testimonials {
    @extend .z-depth-0;
    margin-bottom: 0;

    .card-image{
      padding-bottom: 25px;

      p{
        position: absolute;
        top: 0;
        margin: 0;
        padding: 20px 25px;
        font-size: .85rem;
        text-align: left;
        bottom: 25px;
        color: $off-black;
      }
    }

    .card-content {
      padding: 0;

    }

    .collection{
      margin: 0;
      border: none;

      .avatar {
        padding:0;
        min-height: auto;

        .title {
          font-size: 14px;
          font-weight: bold;
        }

        p{
          font-size: .85rem;
          color: $color-grey-20;

          .rate{
            color: $primary-color;
          }
        }

        .inner-image {
          display: none;
        }
      }
    }

    &--text{
      .card-image{
        &:after {
          content:"";
          position: absolute;
          bottom: 9px;
          left: 20px;
          border: 8px solid transparent;
          border-top-color: $color-grey-10;
          border-right-color: $color-grey-10;
        }
      }
    }

    &--video{
      .card-image{
        padding-bottom: 0;
        margin-bottom: 25px;

        &:before{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $primary-color;
        }

        &:after{
          position: absolute;
          content: "";
          top: 50%;
          margin-top: -27px;
          margin-left: -27px;
          width: 54px;
          height: 54px;
          background: url("../img/video-button.png") no-repeat center center;
          opacity: .85;
        }

        &:hover {
          &:after{
            opacity: 1;
          }
        }

        > img{
          opacity: .55;
        }
      }
    }
  }

  &-product{
    @extend .z-depth-0;
    border: 2px solid $color-light-blue-10;

    .product__params-reveal {
      position: absolute;
      left:0;
      right: 0;
      bottom: 0;
      padding: 0.5rem;
      transition: opacity .25s ease 0s;
      background: rgba(white, .55);
      font-size: 13px;
      font-weight: bold;

      @media #{$large-and-up} {
        opacity: 0;
      }

      > ul {
        margin: 0;

        > li {
          line-height: 20px;
        }
      }
    }

    &:hover {
      .product__params-reveal {
        @media #{$large-and-up} {
          opacity: 1;
        }
      }
    }

    .card-content{
      padding: 15px 20px;

      .card-title{
        color: $primary-color;
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
        line-height: 16px;
        margin: 0;
        position: relative;
        z-index:1;

        &:hover,
        &:focus{
          color: $secondary-color;
          text-decoration: none;
        }
      }

      .row {
        margin-bottom: 0;

        @media #{$medium-and-up} {
          margin-top: 25px;
          > .col:last-child {
            padding: 0;
          }
        }
      }
    }

    .product {

      &__badges-list{
        position: absolute;
        left: -10px;
        right: 0;
        margin: 0;
        top: 4px;

        @media #{$medium-and-up} {
          left: 0;
          top: -12px;
        }


        .badge{
          @extend .z-depth-1;
          font-size: .85rem;
          color: white;
          font-weight: bold;
          float: none;
          padding: 3px 10px;
          margin: 0;
          &--hit{
            background: $primary-color;
          }
          &--discount{
            background: $secondary-color;
          }
          &--new{
            background: $new-color;
          }
          &--top{
            background: $top-color;
          }
        }

        > li {
          @media #{$medium-and-up} {
            float:left;
            margin-left: 15px;
          }
          @media #{$small-and-down} {
            margin-bottom: 4px;
          }
        }
      }

      &__order-btn {
        @extend .btn-flat;
        @extend .btn-small;

        font-size: .85rem;
        color: $primary-color;
        font-weight: bold;
        border: 2px solid $primary-color;
        text-transform: none;
        opacity: 1;
        height: 30px;
        line-height: 26px;
        padding: 0 20px;
        border-radius: 0;
        box-shadow: none!important;

        &:hover,
        &:focus{
          background: $primary-color;
          color: white;
          opacity: .9;
        }
      }

      &__bar {

        @media #{$large-and-up} {
          padding-top: 3px;
        }

        &-btn {
          display: inline-block;
          width: 19px;
          height: 19px;
          &:hover,
          &:focus{
            opacity: .9;
          }
        }

        .compare-btn{
          background: url("../img/compare.png") no-repeat center center;
        }

        .favorite-btn{
          margin-left: 5px;
          background: url("../img/favorite-active.png") no-repeat center center;

          &.favorite--empty {
            background: url("../img/favorite.png") no-repeat center center;
            &:hover,
            &:focus {
              background: url("../img/favorite-active.png") no-repeat center center;
              opacity: .85;
            }
          }
        }
      }
      &__cost {
        font-size: 17px;
        font-weight: bold;
        position: relative;
        padding-right: 15px;
        display: inline-block;

        @media #{$small-and-down} {
          margin-bottom: 10px;
          margin-top: 25px;
        }

        &:after {
          content: "\20BD";
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &--sale-info {
        position: relative;

        .old-price{
          position: absolute;
          top: -20px;
          left: 0;
          right: -125px;

          .product__cost {
            color: #b3b3b3;
            font-size: 14px;
            text-decoration: line-through;
            font-weight: normal;
            padding-right: 10px;

            &:after {
              padding-right: 2px;
              top: -1px;
            }
          }

          .bonus-sum{
            @extend .product__cost;
            margin-left: 12px;
            background: #fef30c;
            font-size: 11px;
            padding-left: 2px;
            text-decoration: none;
            color: $off-black;
            position: relative;
            top: -2px;

            &:after {
              top: 0;
            }
          }
        }
      }
    }
  }

  &-item{
    @extend .z-depth-0;
    border: 2px solid $color-light-blue-10;
    margin: 0 0 30px;
    height: 100%;

    .card-title{
      font-size: 14px;
      color: $primary-color;
      font-weight: bold;
      text-align: center;
      line-height: 18px!important;
      margin: 0!important;
    }

    .card-image{
      padding: 24px;
    }

    .card-content{
      padding: .5rem 1rem;
    }
  }

  &-sale-preview {
    @extend .z-depth-0;
    border: 2px solid #eff3f4;

    @media (max-width: 480px) {
      display: block!important;
    }

    .card-image {

      @media (max-width: 480px) {
        display: block;
        max-width: 100%!important;
      }
    }

    .card-title {
      margin-bottom: 0!important;

      > a{
        font-size: 1.3rem;
        color: $off-black;
        font-weight: bold;

        &:hover,
        &:focus {
          color: rgba($off-black, .9);
        }
      }

      + p {
        margin-top: 1rem;
      }
    }
  }

}